<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.PermissionlistMapper">
  <resultMap id="BaseResultMap" type="com.example.bean.Permissionlist">
    <id column="permissionListId" jdbcType="VARCHAR" property="permissionlistid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="permissionId" jdbcType="VARCHAR" property="permissionid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    permissionListId, name, permissionId
  </sql>
  <select id="selectByExample" parameterType="com.example.bean.PermissionlistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from permissionlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permissionlist
    where permissionListId = #{permissionlistid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from permissionlist
    where permissionListId = #{permissionlistid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.bean.PermissionlistExample">
    delete from permissionlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.bean.Permissionlist">
    insert into permissionlist (permissionListId, name, permissionId
      )
    values (#{permissionlistid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{permissionid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.bean.Permissionlist">
    insert into permissionlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionlistid != null">
        permissionListId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="permissionid != null">
        permissionId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionlistid != null">
        #{permissionlistid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="permissionid != null">
        #{permissionid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.bean.PermissionlistExample" resultType="java.lang.Long">
    select count(*) from permissionlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update permissionlist
    <set>
      <if test="record.permissionlistid != null">
        permissionListId = #{record.permissionlistid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionid != null">
        permissionId = #{record.permissionid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update permissionlist
    set permissionListId = #{record.permissionlistid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      permissionId = #{record.permissionid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.bean.Permissionlist">
    update permissionlist
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="permissionid != null">
        permissionId = #{permissionid,jdbcType=VARCHAR},
      </if>
    </set>
    where permissionListId = #{permissionlistid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.bean.Permissionlist">
    update permissionlist
    set name = #{name,jdbcType=VARCHAR},
      permissionId = #{permissionid,jdbcType=VARCHAR}
    where permissionListId = #{permissionlistid,jdbcType=VARCHAR}
  </update>
</mapper>